
@color: black;
@menu: white;
@miragecolor: #027af9;
@miragecolor: rgb(50,248,113);
@colorback: white;


body{
  // background: @miragecolor;
  background: @color;
  font-family: courier;
  height: 4000px;
  #contentOne{
    width: 100%;
    font-size: 10px;
    margin-top: 60px;
    margin-left: 3%;
    line-height: 10px;
    position: absolute;
  }
  #contentTwo{
    width: 100%;
    font-size: 10px;
    margin-top: 60px;
    margin-left: 3%;
    line-height: 10px;
    position: absolute;
  }
}
.cadratin {
  color: red;
  height: auto;
  float: left;
    .row{
      display: flex;
      height: 10px;
      span{
        font-family: 'lunchdiner';
        width: 6px;
        flex-grow: 1;
        // color: @miragecolor;
        flex-basis: auto;
        }
        span.fill {
          // color: @color;
          color: white;
          background: white;
          outline: 1px solid white;
      }
    }
}
